<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BUCKETLIST</title>
    <!-- Adding bootstrap  css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.css') }}">
    <!-- Adding javascript -->
    <script src="{{ url_for('static', filename= 'bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
    <!-- Adding external CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">


</head>

<body>

    </script>
    <div class="container-fluid">
        <div class="header">
            <div class="header-image1">
                <img src="{{ url_for('static', filename= 'images/Bucketlistbg2.png') }}" width="100" height="100">
            </div>

            <div class="header-image2">
                <img src="{{ url_for('static', filename = 'images/list3.png') }}" width="100" height="100">
            </div>
        </div>

        <form class="form" form action="/login/" method="post">
            <br/>
            <center>
                <h3>LOGIN</h3>
                {%if error %}
                <label><font color=red>{{error}}</font></label> {%endif%}
            </center>
            <div class="form-group">
                <center><label for="email"> Email Address/UserID</label></center>
                <input type="email" class="form-control" placeholder="Enter email or userid " id="email" required>
            </div>
            <div class="form-group">
                <center><label for="password"> Password</label></center>
                <input type="password" class="form-control" placeholder="Enter password" id="password" required>
            </div>
            <center>
                <button type="submit" btn btn class="info">LOGIN</button>
            </center>
            <hr>
            <p> No Account yet? <a href="{{  url_for('register') }}">Create account here</a></p>
            </center>


        </form>
        <div class="footer">
            <center>Users Guide</center>
        </div>

    </div>


</body>

</html>