<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>BUCKETLIST</title>
    <!-- Adding bootstrap  css-->
   <link rel="stylesheet" type="text/css" href="../bucketlist/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.css">
    <!-- Adding javascript -->
    <script src="../bucketlist/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!-- Adding external CSS -->
    <link rel="stylesheet" type="text/css" href="../bucketlist/styles.css">
    <link rel="stylesheet" type="text/css" href="../bucketlist/styles.css">
    
  </head>
  <body>
  <script>
  
  </script>
  	<div class= "container-fluid">
    	<div class="header">
   			 <div class="header-image1">
  				<img src="../bucketlist/Assets/Bucketlistbg2.png" width="100" height="100">
  			 </div>
             
    		 <div class="header-image2">
             <img src="../bucketlist/Assets/list3.png" width="100" height="100">    			
    		 </div>
    	</div>

  		<form class="form">
 		<br/>
        <center><h3>LOGIN</h3></center>
  			<div class="form-group">
  				<center><label for = "email"> Email Address/UserID</label></center>
		      <input type="email" class="form-control" placeholder="Enter email or userid " id="email" required>
  			</div>
  			<div class="form-group">
  				<center><label for="password"> Password</label></center>
  				<input type="password" class="form-control" placeholder= "Enter password" id="password" required>
			</div>
  		<center><a href="../bucketlist/bucketcreate_view.html"><button type="submit" class="btn btn-default" >LOG IN </button></a>
        <hr>
        <p> No Account yet? <a href="../bucketlist/register.html">Create account here</a></p>
        </center>


  		</form>
        <div class="footer">
        <center>Users Guide</center>
        </div>

  	</div>
   

  </body>
</html>